.breadcrumbs {
  display: flex;
  padding: 12px var(--padding-page);
  white-space: nowrap;
  font-weight: 400;
  font-size: var(--text-small);
  color: var(--color-label);
  @extend %scroll-full-width;

  @media (min-width: ($md4+px)) {
    // от 576рх
    max-width: 100%;
    padding: 12px 0;
    margin: 0;
    overflow: hidden;
  }

  @media (min-width: ($md3+px)) {
    // от 767рх
    padding: 16px 0 18px;
  }

  @media (min-width: ($md1+px)) {
    // от контейнера
    padding: 20px 0 24px;
  }

  &__item {
    display: flex;
    white-space: nowrap;

    &:not(:last-child) {
      &::after {
        content: "—";
        margin: 0 4px;
      }

      .breadcrumbs__link {
        &:focus-visible {
          outline: none;
        }

        @media (any-hover: hover) {
          &:not(:active):hover {
            color: var(--color-main-light);
          }
        }

        &:active {
          color: var(--color-main-light);
        }
      }
    }

    &:last-child {
      @media (min-width: ($md4+px)) {
        // от 576рх
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__link {
    color: inherit;
    @extend %transition;
  }
}
